input {
  width: 250px;
  padding: 8px;
  margin-right: 10px;
}

.cardProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 130px;
  background-color: rgb(0, 132, 255);
  margin: 10px 10px 20px 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.product div {
  margin: 10px;
}

.productName {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 18px;
}

.productPrice::before {
  content: "R$";
}

button {
  background-color: rgb(247, 247, 105);
  width: 100px;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(251, 255, 0);
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

li {
  list-style: none;
  padding: 10px;
}
